
<div class="container" style="margin-top: 60px;">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3>ID:</h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>{{user.id}}</h3>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Email:</h3>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>{{user.email}}</h3>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3>Address:</h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>{{user.address}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3>City:</h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>{{user.city}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3>Phone:</h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>{{user.phone}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3>Role:</h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>{{user.role}}</h3>
    </div>
  </div>
</div>

